*{
     margin: 10;
     padding: 10;
}


body {
    text-align: center;
  background-color: #7af695;
}
.container {
    height: 70vh;


}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
     gap: 1.6vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #cf0e0e;
    border-radius: 2rem;
    border: none;
    font-size: 10vmin;
    color: #fff;
}
 .reset {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #6f0303;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
 }